
.box{
    /* border: solid black 4px; */
    padding: 10px;
}
.title{
    text-align: center;
    background-color: slategray;

}

#currentWeather{
    border: slategray solid 1px;
    border-radius: 5%;
}
#searchArea{
    /* background-color: slategray; */
}